html,
body,
#root,
canvas {
  height: 90%;
  width: 90%;
  padding: 0;
  margin: 0;
  background: #272730;
}

form {
  position: fixed;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

